 <div>
    <div class="w-50 m-auto mt-4 m-4 border border-1 p-3">
      <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()">
        <div class="mb-2">
          <label for="inputName" class="form-label fw-bold">{{'Name'|translate}}</label>
          <input type="text" class="form-control" id="inputName" required aria-describedby="inputName" name="inputName"
            formControlName="inputName" />
          <div class="pt-1 text-danger" *ngIf="formControls['inputName'].touched && !formControls['inputName'].valid">
            <small *ngIf="formControls['inputName'].errors?.['required']">
              * this field is required
            </small>
            <small *ngIf="formControls['inputName'].errors?.['minlength']">
              * Name should be more than 2
            </small>
            <small *ngIf="formControls['inputName'].errors?.['maxlength']">
              * Name should be less than 15
            </small>
          </div>
        </div>
  
        <div class="mb-2">
          <label for="inputSginUpEmail" class="form-label fw-bold">Email</label>
          <input type="email" class="form-control" id="inputSginUpEmail" required aria-describedby="email SignUpValid"
            name="inputSginUpEmail" formControlName="inputSginUpEmail" />
          <div class="pt-1 text-danger"
            *ngIf="formControls['inputSginUpEmail'].touched && !formControls['inputSginUpEmail'].valid">
            <small *ngIf="formControls['inputSginUpEmail'].errors?.['required']">
              * this field is required
            </small>
            <small *ngIf="formControls['inputSginUpEmail'].errors?.['pattern']">
              * must enter email like "shoes@gmail.com"
            </small>
          </div>
        </div>
  
        <div class="mb-2">
          <label for="inputUsername" class="form-label fw-bold">{{'username'|translate}}</label>
          <input type="text" class="form-control" id="inputUsername" required aria-describedby="inputUsername"
            name="inputUsername" formControlName="inputUsername" />
          <div class="pt-1 text-danger"
            *ngIf="formControls['inputUsername'].touched && !formControls['inputUsername'].valid">
            <small *ngIf="formControls['inputUsername'].errors?.['required']">
              * this field is required
            </small>
            <small *ngIf="formControls['inputUsername'].errors?.['minlength']">
              * Username should be more than 2
            </small>
            <small *ngIf="formControls['inputUsername'].errors?.['maxlength']">
              * Username should be less than 20
            </small>
          </div>
        </div>
  
        <div class="mb-2">
          <label for="inputPass" class="form-label fw-bold">{{'password'|translate}}</label>
          <input type="password" class="form-control" id="inputPass" required name="inputPass"
            formControlName="inputPass" />
            <div class="pt-1 text-danger"
            *ngIf="formControls['inputPass'].touched && !formControls['inputPass'].valid">
            <small *ngIf="formControls['inputPass'].errors?.['required']">
              * this field is required
            </small>
            <small *ngIf="formControls['inputPass'].errors?.['minlength']">
              * pass should be more than 7
            </small>
            <!-- <small *ngIf="formControls['inputPass'].errors?.['pattern']">
              * Pass should be like P@ssword1234
            </small> -->
          </div>
        </div>
  
        <div class="mb-2">
          <label for="inputConfiemPass" class="form-label fw-bold">{{'confirm'|translate}}</label>
          <input type="password" class="form-control" id="inputConfiemPass" required name="inputConfiemPass"
            formControlName="inputConfiemPass" />
            <div class="pt-1 text-danger"
            *ngIf="formControls['inputConfiemPass'].touched && !formControls['inputConfiemPass'].valid">
            <small *ngIf="formControls['inputConfiemPass'].errors?.['required']">
              * this field is required
            </small>
            <small *ngIf="formControls['inputConfiemPass'].errors?.['confirmedValidator']">
              * password and confirm password should be match
            </small>
          </div>
          <div class="row mb-2 mt-3">
            <div class="col-6  ">

              <label for="birthday" class="form-label fw-bold">{{'Birthday'|translate}}:</label><br>
              <input #inputBirthday type="Date" 
              id="inputBirthday"  required  formControlName="inputBirthday" 
              >
            </div>
            <div class="col-md-6 ">
              <label for="inputState" class="form-label fw-bold">{{'Gender'|translate}}</label>
              <select id="inputGender" class="form-select" formControlName="inputGender" >
                <option selected>Choose Gender</option>
                <option>{{'male'|translate}}</option>
                <option>{{'female'|translate}}</option>

              </select>
            </div>

          </div>
        </div>
        <button routerLink="/login" type="submit" class="btn btn-primary fw-bold mt-2 container " id="btn" [disabled]="signUpForm.invalid">{{'login'|translate}}</button>
      </form>
    </div>
  </div>



  <!-- cheack database
<div style=" width: 100vw; height: 100vh; ">
  <div class="col-12">
    <div class="container-fluid  bg-Secondary">
      <div class="row d-flex justify-content-around align-items-center ">
        <div class="col-6 " style="height: 100vh;">
          <div  class=" mt-3">
            <h1 class="  justify-content-center"><i class="fa-solid fa-user "></i>Sign Up</h1>
          </div>

          <div style=" background-color: white; margin-bottom: 00.67em; padding: 0.67em">

            <form class="mt-3" [formGroup]="RegisterForm" (ngSubmit)="submitRegisterForm()">
              <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input #emailInput type="email" class="form-control" 
                id="Email" required aria-describedby="Email"
                 #email="" formControlName="emailInput" formControlName="Email">

               

                <div class="text-danger" *ngIf="
      RegisterForm.controls['Email'].touched && !RegisterForm.controls['Email'].valid
      ">
                  <small *ngIf="formControls['Email'].errors?.['required']">
                    this field is required
                  </small>
                  <small *ngIf="formControls['Email'].errors?.['pattern']">
                    Email inValid
                  </small>
                </div>
              </div>
              <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input #nameInput type="text" class="form-control" 
                id="Name" aria-describedby="Name"  required formControlName="nameInput">
                <div class="text-danger" *ngIf="
        RegisterForm.controls['Name'].touched && !RegisterForm.controls['Name'].valid
      ">
                  <small *ngIf="formControls['Name'].errors?.['required']">
                    this field is required
                  </small>
                </div>
              </div>
              <div class="mb-3">
                <label for="UserName" class="form-label">UserName</label>
                <input #usernameInput type="text" 
                class="form-control" id="UserName"  required 
                formArrayName="nameInput"  aria-describedby="UserName"
                 >
                <div class="text-danger" *ngIf="
        RegisterForm.controls['userName'].touched && !RegisterForm.controls['userName'].valid
      ">
                  <small *ngIf="formControls['userName'].errors?.['required']">
                    this field is required
                  </small>
                  <small *ngIf="formControls['userName'].errors?.['pattern']">
                    UserName does not have Space
                  </small>
                </div>
              </div>
              <div class="row mb-3">
                <div class=" col-6">
                  <label for="password" class="form-label">Password</label>
                  <input #passwordInput type="password"
                   class="form-control" id="password"  required formControlName="passwordInput"
                  placeholder="Password">
                  <div class="text-danger" *ngIf="
        RegisterForm.controls['password'].touched && !RegisterForm.controls['password'].valid
      ">
                     <small *ngIf="formControls['password'].errors?.['pattern']"> -->
                    <!-- <small *ngIf="formControls['password'].hasError('pattern')">
                      password length not less than 8 characters , contains at least one
                      lowercase , one uppercase , at least one digit
                      and special character
                    </small> -->
                    <!-- <small *ngIf="formControls['password'].errors?.['required']">
                      this field is required
                    </small>
                  </div>
                </div>

                <div class=" col-6">
                  <label for="password2" class="form-label">Confirm Password</label>
                  <input #confirmpasswordInput type="password"
                   class="form-control" id="password2" 
                   formControlName="confirmpasswordInput">
                  <div class="text-danger" *ngIf="
        RegisterForm.controls['confirmPassword'].touched && !RegisterForm.controls['confirmPassword'].valid
      ">
                    <small *ngIf="formControls['confirmPassword'].errors?.['required']">
                      this field is required
                    </small>
                    <small *ngIf="formControls['confirmPassword'].errors?.['checkIfMatchingPasswords']">
                      Must Be Match
                    </small>
                  </div>
                </div>
              </div>

              <div class="row mt-1 ">
                <div class="col-6  ">

                  <label for="birthday">Birthday:</label><br>
                  <input #BirthdayInput type="Date" 
                  id="birthday"  required  formControlName="BirthdayInput" 
                  >
                </div>
                <div class="col-md-6 ">
                  <label for="inputState" class="form-label">Gender</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose Gender</option>
                    <option>male</option>
                    <option>female</option>

                  </select>
                </div>

              </div>

              <div class="d-grid gap-2">


                <button (click)="submitRegisterForm()" type="submit" class="btn btn-primary mt-2"
                  data-bs-toggle="button" autocomplete="off"><i class="fa-solid fa-user m-2"></i>Sign Up</button>
                  <button routerLink="/Login" class=" btn btn-outline-secondary " type="button">I already have an
                    account</button>
              </div>
            </form>
          </div> -->
          <!-- <div class="row"> -->
          <!-- <div class="grid gap-2 m-5 d-md-flex  justify-content-md-center">
            
          </div> -->

<!-- 
        </div>
      </div>
    </div>
  </div> --> -->
  <!-- \\الباترن مش شغال -->