/* * {
  font-size: 30px;
} */

label {
  cursor: default;

  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

form {
  box-shadow: none!important;
}

input,select {
  font-family: 'Noto Naskh Arabic','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.64;
}

#birthday {
 height: 40px;
 width: 100%;
 text-align: center;

}

#text {
 text-align: center;
}
h1 {
  border-bottom: 1px solid #45b09e;
  /* bottom: -10px; */
  /* content: ""; */
  display: block;
  /* position: absolute; */
  width: 115px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Noto Kufi Arabic','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.84
}
#btn{
justify-items: center;}
/* #icn {
  margin: 5px;
} */
