<div class="footer">
<div class="row">
        <div class="col-4">
        <img src="../../../assets/logoBG.png">
    </div>
    <div class="col-4">
      <p style="text-align: center;     margin-top: 10px
      ">@copy right</p>
    </div>
    
      <div class="col-4" id="icon" style="flex-shrink: initial;">
        <ul>
          <li>
       <a href="/facebook"><i class="fa-brands fa-facebook-square" style="margin: 1px;">facebook </i></a></li> 
       <li>   <a href="/instgram"> <i  class="fa-brands fa-instagram-square"style="margin: 1px;">instgram</i></a></li> 
        <li>  <a href="/whatsapp">   <i class="fa-brands fa-whatsapp-square"style="margin: 1px;">whatsapp</i></a></li> 
  </ul>
  </div>
    </div>
</div>
 