.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#755139ff;
    color: white;
    text-align: center;
    height: 20%;
 }
 img{
     float: left;
     /* padding: 10px; */
     /* margin-right: 10px; */
     width: 20%;
     height: 100%;
 }
  #icon{
    flex-direction:column-reverse;
     margin-top: 10px;
     /* margin-right: 1px; */
     padding: 1px;
     /* margin-right: 2px; */
gap: 6px;
 } 
