<!-- <div class="navbar navbar-dark shadow-sm " style="background-color:  #D4B996FF ; height: 100px;">
<div id='header'>
  <div class="nav">
<div class="container">

<a class="navbar-brand" href="#">
  <img id='img' src="../../../assets/logoBG.png" alt="" width="30%" height="55%"  />
</a>
<button button routerLink="cart" class="btn btn " >
  <i style="font-size: 30px; float:left; " class="fas fa-cart-plus"></i>
  <div class="badge bg-danger">{{totalItemNumber}}</div>
</button>
</div>
</div> -->
<!-- <button type="button" class="btn btn-outline-secondary mt-2" style={{float: "right"
}}> -->







<header>
  <div class="navbar navbar-dark shadow-sm" style="background-color:  #D4B996FF ;">
    <div class="navbar-brand align-item-center d-flex">
      <!-- <i style="font-size: 35px;" class='fas fa-shipping-fast'></i>  -->
      
      <img id='img' src="../../../assets/logoBG.png" alt="" routerLink="/products" width="30%" height="55%"  />
      
      &nbsp;
      
      
      <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="search product">
      </div> -->
      <!-- <span class="fas fa-search search-icon"></span> --> 
    </div> 
    
    
    <button    button routerLink="cart" class="btn btn">
  <strong style="font-size: 30px; margin-top: 25px;">Book Store</strong>
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div class="badge bg-danger">{{totalItemNumber}}</div>
    </button>
  </div>
</header>
