@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Playfair+Display:ital,wght@1,500&display=swap');
strong{
  font-family: 'Playfair Display', serif;   

}


.form-control{
  border-radius: 5px;
  margin-left: 25px;
  width: 600px;
}
.search-icon{
  z-index: 10;
  position: absolute;
  right: 46%;
  color: blue;
  top: 31%;
}
.btn{
  height: 50px;
  width: 100px;
  text-align: center;
margin-left: 0%;
margin: 1%;
justify-content: center;
}
