<div style="height: 100vh; width: 100vw; ">
  <div class="col-12">
    <div class="container-fluid bg-Secondary">
      <div class="row d-flex justify-content-around align-items-center">
        <div class="col-6 " style="height: 100vh;">
          <div>
            <h1 class=" mb-5 justify-content-center"><i class="fa-solid fa-right-to-bracket"></i>Login</h1>
          </div>
          <div style=" background-color: white; margin-bottom: 00.67em; padding: 0.67em">
            <div id="text" class=" mb-5 justify-content-center">
              <h2 class="container text-danger ">
                Login if you already have an account with our Book Store
              </h2>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="submitLoginForm()">
              <div class="mb-5">
                <label for="exampleFormControlInput1" class="form-label mb-3">Email </label>
                <input #usernameInput type="email" class="form-control " id="Email" 
                ngModel required name="email" #email="ngModel"
                  [pattern]="emailPattern " placeholder="name@example.com">


                <div *ngIf="email.touched && !email.valid">
                  <small class="text-danger" *ngIf="email.errors?.['required']">
                    this field is required
                  </small>
                  <small class="text-danger" *ngIf="email.errors?.['pattern']">
                    Email not valid
                  </small>
                </div>
              </div>
              <div class="mb-5">
                <label for="exampleFormControlInput1" class="form-label"> Password</label>
                <input #passwordInput type="Password" class="form-control"
                 id="Password" ngModel required name="password"
                  #password="ngModel" placeholder="Password">
                <div *ngIf="password.touched && !password.valid">
                  <small class="text-danger" *ngIf="password.errors?.['required']">
                    this field is required
                  </small>
                </div>
              </div>
              <div class="d-grid gap-2">


                 <button (click)="submitLoginForm()" type="submit" [disabled]="loginForm.invalid" class="btn btn-primary" data-bs-toggle="button">
                  <i id="icn" class=" fa-solid fa-right-to-bracket m-2 "></i>
                  Login
                </button>
                <button routerLink="/Register" class=" btn btn-outline-secondary " type="button">I dont have an
                  account</button>
              </div>
            </form>

          </div>

          <div class="mb-5 d-grid gap-2 d-md-flex  justify-content-md-center">
           
            <!-- <button class="col-6 btn btn-outline-secondary" type="button">Forgot your passward</button> -->
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
